<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: orange;}
            h1   {color: black;}
            p    {color: black;}
        </style>
    </head>
    <body>
        <h1>Circular Primes Below n</h1>
        <p>The number, 197, is called a circular prime because all rotations of the digits: 197, 971, and 719, are </p>
        <p>themselves prime. There are thirteen such primes below 100: 2, 3, 5, 7, 11, 13, 17, 31, 37, 71, 73, 79, </p> 
        <p>and 97. How many circular primes are there below one million?</p>
        <br>
        <p>Use the form below to check all the circular primes below your input</p>
        <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
    </body>
</html>
